wifi_ssid_boat: "BoatNet5G"
wifi_password_boat: "REPLACE_ME"
wifi_ssid_marina: "SafeHarborGuest"
wifi_password_marina: "REPLACE_ME"
wifi_ssid_home: "PeteHome"
wifi_password_home: "REPLACE_ME"
ap_fallback_password: "REPLACE_ME"

api_key: "REPLACE_ME_32_bytes_base64"
ota_password: "REPLACE_ME"

mqtt_broker: "boat-broker.peteskrake.com"
mqtt_user: "boatmon-1"
mqtt_pass: "REPLACE_ME"

test_mode_hmac_key: "REPLACE_ME_test_mode_hmac"

victron_bindkey: "REPLACE_ME_victron_bindkey"
